.dropdown-outer-container > * + * {
  margin-top: 4px;
}

.dropdown-inner-container {
  position: relative;
  width: 160px;
  padding: 8px 12px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
}

.dropdown-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
}

.dropdown-inner-container:active {
  outline: 1px solid #0ea5e9;
  border-color: #0ea5e9;
  outline-offset: -2px;
}

.arrow-icon-container {
  height: 12px;
  width: 12px;
  fill: #cbd5e0;
  transition: all 90ms ease 0s;
}

.dropdown-options {
  width: 100%;
  position: absolute;
  z-index: 10;
  padding: 4px 0;
  margin-top: 16px;
  margin-left: -12px;
  background-color: white;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
}

.dropdown-option {
  padding: 8px 12px;
}

.dropdown-option:hover {
  background-color: #0ea5e9;
  color: white;
}
