.App {
  color: #1a202c;
}

button:hover:not(:disabled) {
  border-color: #0ea5e9;
  color: #0ea5e9;
  fill: #0ea5e9;
  cursor: pointer;
}

button:disabled {
  fill: #cbd5e0;
}

.navigate-button {
  height: 36px;
  padding: 8px 16px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
}
