.title {
  text-align: left;
}

.feature-container {
  display: flex;
  font-size: 12px;
  padding-bottom: 40px;
  align-items: flex-end;
}

.feature-container > * + * {
  margin-left: 8px;
}

.reset-button {
  height: 36px;
  padding: 8px 16px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
}

.result-container {
  padding-top: 24px;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}
